@media (max-width:768px){
	header h1{
		font-size: 500%;
		color: rgb(44,62,80);
	}
	
	#menu_sidebar{
		text-align: center;
	}
	
	#videos .col-md-4{
		height: 175px;
		line-height: 120px;
	}
	
	#videos .col-md-8{
		height: 350px;
		line-height: 250px;
	}
}


